#container_menu {
	clear: both;
	margin: 0;
	padding: 0;
}

#container_menu a {
	float: right;
	background: #9FC54E;
	border: 1px solid #9FC54E;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px;
	font-weight: 700;
}

#container_menu a:hover {
	float: right;
	background: #a0a0a0;
	border: 1px solid #cccccc;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 20px;
	font-weight: 700;
}

.content_menu {
	font-style: normal;
	font-family: helvetica, arial, verdana, sans-serif;
	color: #ffffff;
	background: #b5dafc;
	border: 1px solid #c9e6e8;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-webkit-border-bottom-left-radius: 20px;
	margin: 30px 0 50px;
	padding: 15px 0;
}

.content_menu p {
	margin: 10px 0;
	padding: 15px 20px;
}

.panel_menu {
	position: absolute;
	top: 20px;
	left: 0;
	display: none;
	background: #54779f;
	border: 1px solid #c9e6e8;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	width: 330px;
	height: auto;
	padding: 30px 30px 30px 130px;
	filter: alpha(opacity=90);
	-webkit-box-shadow: 5px 5px 5px gray;
	-moz-box-shadow: 5px 5px 5px gray;
	opacity: .90;
	z-index: 10000000;
}

.panel_menu p {
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;
}

.panel_menu a, .panel_menu a:visited {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
}

.panel_menu a:hover, .panel_menu a:visited:hover {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	color: #9FC54E;
}

a.trigger {
	position: absolute;
	text-decoration: none;
	top: 0px;
	left: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 10px 50px;
	font-weight: 700;
	background: #54779f url(/images/plus.png) no-repeat 85% 55%;
	border: 1px solid #444444;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	display: block;
	z-index: 20000000;
}

a.trigger:hover {
	position: absolute;
	text-decoration: none;
	top: 0px;
	left: 0;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #fff;
	padding: 10px 50px;
	font-weight: 700;
	background: #39526f url(/images/plus.png) no-repeat 85% 55%;
	border: 1px solid #444444;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	display: block;
}

a.active.trigger {
	background: #54779f url(/images/minus.png) 85% 55% no-repeat;
}

a.active.trigger {
	background: #54779f url(/images/minus.png) 85% 55% no-repeat;
}

.columns {
	clear: both;
	width: 330px;
	padding: 0 0 20px 0;
	line-height: 22px;
}

.colleft {
	float: left;
	width: 130px;
	line-height: 22px;
}

.colright {
	float: right;
	width: 130px;
	line-height: 22px;
}

#main_menu td {
	padding: 10px;
	background: #54779f;
	border-style: none;
}

#main_menu a:hover{
	color: #c9e6e8;
}

#main_menu tr, th {
	background: #b5dafc;
}




.f3 {
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	text-align: right;
	padding-top: 10px;
}

#home-table td{
	padding: 20px;
	font-weight: bold;
}

#home-table a, a:hover, a:visited{
	text-decoration: none;
	color: #405454;
}

